@import url(https://fonts.googleapis.com/css2?family=Inter:wght@400,500&display=swap);

@tailwind base;
@tailwind components;
@tailwind utilities;

.dev-host,
:host {
  pointer-events: none;
  position: fixed;
  inset: 0;
  z-index: 1000;

  @apply text-base-primary text-md;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;

  scrollbar-color: #e5e7eb transparent;
}

@layer utilities {
  .overlay {
    position: absolute;
    inset: var(--el-overlay-padding);
    /* Make sure the widget doesn't shift when opening dropdowns */
    right: calc(
      var(--el-overlay-padding) + var(--removed-body-scroll-bar-size, 0px)
    );
  }

  .focus-ring {
    @apply ring-accent ring-offset-base ring-offset-2 focus-visible:ring-2 focus-visible:outline-none;
  }

  .animate-text {
    background-image: linear-gradient(
      75deg,
      var(--el-base-primary),
      var(--el-base-subtle),
      var(--el-base-primary),
      var(--el-base-subtle)
    );
    background-size: 300% 100%;
    background-clip: text;
    color: transparent;

    animation: TextAnimation 2s linear infinite;
  }

  @keyframes TextAnimation {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 100% 0;
    }
  }

  .terms h6 {
    @apply text-base-primary font-medium text-xs;
  }

  .terms h5 {
    @apply text-base-primary font-medium text-sm;
  }

  .terms h4 {
    @apply text-base-primary font-medium text-md;
  }

  .terms h3 {
    @apply text-base-primary font-medium text-lg;
  }

  .terms h2 {
    @apply text-base-primary font-medium text-xl;
  }

  .terms h2 {
    @apply text-base-primary font-medium text-2xl;
  }
}
